<!DOCTYPE html>
<html lang="en" ng-app = "App">
<head>
    <meta charset="UTF-8">
    <title>Administrador</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="controller.js"></script>
</head>
<body>

<center>
    <font size="10" color="red"><strong>Administración de base de datos</strong></font>
</center>

<!--CRUD  PROYECTOS-->

<font size="5" color="red"><strong>Proyectos:</strong></font>
<br>
<div ng-controller="ProyectController">
<strong>Lista de proyectos :</strong>
<br>
<br>
    <table border="1" cellpadding="7" cellspacing="7">
        <tr>

            <th>Id-Proyecto</th>
            <th>Nombre del proyecto</th>
            <th>Link de encuesta</th>
            <th width="120px">Opciones</th>
        </tr>

        <tr ng-repeat="proyect in listofproyects track by $index">

            <td>{{proyect.idProyecto}}</td>
            <td>{{proyect.nombre}}</td>
            <td>{{proyect.link}}</td>
            <td><button>Borrar</button>
                <button>Editar</button></td>
        </tr>
        </table>

    <br>
    </table>


    <strong>Crear nuevo proyecto:</strong>
    <br>
    <br>

    <table border="1" cellpadding="7" cellspacing="7">

        <tr>

            <th>Nombre del proyecto</th>
            <th>Link de encuesta</th>
            <!--<th>Lista de contactos (ingresar archivo .csv)</th>-->
            <th width="120px">Opciones</th>
        </tr>

        <tr>

            <td><input type="text" ng-model="newProyect.nombre"></td>
            <td><input type="text" ng-model="newProyect.link"></td>
            <!--<td><input type="file" ng-model="newProyect.file"/></td>-->
            <td><button ng-click="addProyect()">Crear</button></td>
        </tr>

    </table>
<br>
    <strong>Borrar proyecto:</strong>
    <br>
    <br>

    <table border="1" cellpadding="7" cellspacing="7">

        <tr>
            <th>Proyecto a borrar</th>
            <th width="120px"></th>
        </tr>

        <tr>
            <td><input type="number" ng-model="proyecttodelete.idProyecto"></td>
            <td><button ng-click="deleteProyect(proyecttodelete)">Borrar</button></td>
        </tr>

    </table>
<br>
    </table>

    <strong>Editar proyecto:</strong>
    <br>
    <br>
    <table border="1" cellpadding="7" cellspacing="7">

        <tr>
            <th>Id de proyecto a cambiar</th>
            <th>Nombre a cambiar</th>
            <th>Link a cambiar</th>
            <th width="120px">Opciones</th>
        </tr>

        <tr>
            <td><input type="number" ng-model="proyecttoupdate.idProyecto"></td>
            <td><input type="text" ng-model="proyecttoupdate.nombre"></td>
            <td><input type="text" ng-model="proyecttoupdate.link"></td>
            <td><button ng-click="updateProyect(proyecttoupdate)">Editar</button></td>
        </tr>

    </table>
    <br>
</div>

<!--CRUD USUARIOS-->

<font size="5" color="red"><strong>Usuarios:</strong></font>

<div ng-controller="UserController">
    <strong>Lista de usuarios :</strong>
<br>
<br>
<table border="1" cellpadding="7" cellspacing="7">
    <tr>
        <th width="50px">N°</th>
        <th>Usuario</th>
        <th>Contraseña</th>
        <th>E-mail</th>
        <th>Permiso</th>
        <th width="120px">Opciones</th>
    </tr>

    <tr ng-repeat="user in listofusers track by $index">
        <td><span>{{$index + 1}}</span></td>
        <td><span>{{user.username}}</span></td>
        <td><span>{{user.password}}</span></td>
        <td><span>{{user.email}}</span></td>
        <td><span>{{user.permiso}}</span></td>
        <td><button ng-click="deleteUser($index,user.username)">Borrar</button>
            <button>Editar</button></td>
    </tr>
</table>
    <br>
    <strong>Crear nuevo usuario:</strong>
    <br>
    <br>
    <table border="1" cellpadding="7" cellspacing="7">

        <tr>
            <th>Usuario</th>
            <th>Contraseña</th>
            <th>E-mail</th>
            <th width="120px">Opciones</th>
        </tr>

        <tr>
            <td><input type="text" ng-model="newUser.username"></td>
            <td><input type="text" ng-model="newUser.password"></td>
            <td><input type="text" ng-model="newUser.email"></td>
            <td><button ng-click="addUser()">Crear</button></td>
        </tr>
</table>
<br>
    </table>

    <strong>Borrar usuario:</strong>
    <br>
    <br>

    <table border="1" cellpadding="7" cellspacing="7">

        <tr>
            <th>Usuario a borrar</th>
            <th width="120px"></th>
        </tr>

        <tr>
            <td><input type="text" ng-model="usertodelete.username"></td>
            <td><button ng-click="deleteUser(usertodelete)">Borrar</button></td>
        </tr>
    </table>
<br>
    </table>

    <strong>Editar usuario:</strong>
    <br>
    <br>
    <table border="1" cellpadding="7" cellspacing="7">

        <tr>
            <th>Usuario</th>
            <th>Contraseña</th>
            <th>E-mail</th>
            <th width="120px">Opciones</th>
        </tr>

        <tr>
            <td><input type="text" ng-model="usertoupdate.username"></td>
            <td><input type="text" ng-model="usertoupdate.password"></td>
            <td><input type="text" ng-model="usertoupdate.email"></td>
            <td><button ng-click="updateUser(usertoupdate)">Editar</button></td>
        </tr>
    </table>
</div>

<!--MANEJO DE ESTADOS-->
<br>
<font size="5" color="red"><strong>Opciones de estado para el encuestado:</strong></font>

<div ng-controller = "StatusController">

    <strong>Lista de estados :</strong>
    <br>
    <br>
    <table border="1" cellpadding="7" cellspacing="7">
        <tr>
            <th width="50px">N°</th>
            <th>Nombre de estado</th>
            <th width="120px">Opciones</th>
        </tr>

        <tr ng-repeat="state in listofstates track by $index">
            <td>{{$index + 1}}</td>
            <td>{{state.state_name}}</td>
            <td><button>Borrar</button>
                <button>Editar</button></td>
        </tr>
    </table>
    <br>

    <strong>Crear nuevo estado:</strong>
    <br>
    <br>

    <table border="1" cellpadding="7" cellspacing="7">

        <tr>
            <th>Nombre del estado:</th>
            <th width="120px">Opciones</th>
        </tr>

        <tr>
            <td><input type="text" ng-model="newState.state_name"></td>
            <td><button ng-click="addState()">Crear</button></td>
        </tr>

    </table>
    <br>
    <strong>Borrar estado:</strong>
    <br>
    <br>

    <table border="1" cellpadding="7" cellspacing="7">

        <tr>
            <th>Estado a borrar</th>
            <th width="120px"></th>
        </tr>

        <tr>
            <td><input type="text" ng-model="statetodelete.state_name"></td>
            <td><button ng-click="deleteState(statetodelete)">Borrar</button></td>
        </tr>
    </table>
    <!--<br>
    <strong>Borrar proyecto:</strong>
    <br>
    <br>

    <table border="1" cellpadding="7" cellspacing="7">

        <tr>
            <th>Proyecto a borrar</th>
            <th width="120px"></th>
        </tr>

        <tr>
            <td><input type="number" ng-model="proyecttodelete.idProyecto"></td>
            <td><button ng-click="deleteProyect(proyecttodelete)">Borrar</button></td>
        </tr>

    </table>
    <br>-->
</div>
</body>
</html>